<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>Por favor, espere mientras autorizamos el usuario</p>
            </Authorizing>
            <NotAuthorized>
                <ClienteBlazorWASM.Pages.RedireccionarAlAcceso></ClienteBlazorWASM.Pages.RedireccionarAlAcceso>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Error, no se encuentra nada en esta dirección</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>