<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Agrega la URL predeterminada de NuGet.org -->
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Agrega otras fuentes de paquetes NuGet si es necesario -->
    <!-- Por ejemplo, si tienes un repositorio privado de NuGet, puedes agregarlo aquí -->
    <!-- <add key="Nombre de la fuente" value="URL de la fuente" /> -->
  </packageSources>

  <packageRestore>
    <!-- Habilita la restauración de paquetes NuGet automáticamente -->
    <add key="enabled" value="True" />
    <!-- Indica dónde se deben almacenar los paquetes restaurados -->
    <!-- <add key="packagesDirectory" value=".\packages" /> -->
  </packageRestore>

  <!-- Puedes agregar configuraciones adicionales aquí si es necesario -->

</configuration>
