



@page "/editar-post2/{Id:int}"
@using ClienteBlogBlazorWASM.Services.IServices
@using ClienteBlogBlazorWASM.Modelos
@using Microsoft.AspNetCore.Authorization
@using Blazorise.RichTextEdit
@using System.Net.Http.Headers
@inject IPostService postServices
@inject IJSRuntime JsRuntime
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthStateProvider

<h1 class="text-center">Edita tus Post y añade nueva información relevante</h1>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Editar Post Existente</h4>
    </div>
    <div class="card-body">
        <EditForm Model="EditarPost" OnValidSubmit="@(() => ManejadorOnEditarPost())">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label>Título:</label>
                <InputText @bind-Value="EditarPost.Titulo" class="form-control" placeholder="Ingresa el título" />
                <ValidationMessage For="() => EditarPost.Titulo" />
            </div>

            <div class="form-group">
                <label>Descripción HTML:</label>
                @* <RichTextEdit @bind-Value="EditarPost.DescripcionHtml" Placeholder="Ingresa la descripción aquí..." /> *@
                <RichTextEdit @ref="richTextEditRef" Class="rich-text-size-selector" Placeholder="Ingresa la descripción aquí..." />
                <ValidationMessage For="() => EditarPost.DescripcionHtml" />

            </div>

            <div class="form-group">
                <label>Etiquetas:</label>
                <InputText @bind-Value="EditarPost.Etiquetas" class="form-control" placeholder="Ingresa las etiquetas separadas por coma" />
                <ValidationMessage For="() => EditarPost.Etiquetas" />
            </div>

            <div class="form-group">
                <label>Imagen Post</label>
                <div class="imagen-post mb-3" style="background: url('@EditarPost.ImagenUrl'); width:300px; height:169px; background-size:cover"></div>
                <InputFile OnChange="@ManejadorOnSubidaArchivo" />
                @if (imagenPost != null)
                {
                    <img src="@imagenPost" style="width:300px" />
                }
            </div>


            <div class="form-group">
                <div class="row">
                    <div class="col-2">
                        <button type="submit" class="btn btn-success"><i class="bi bi-gear-fill">&nbsp; Editar Post</i></button>
                    </div>
                    <div class="col-6">
                        <NavLink href="posts" class="btn btn-secondary"><i class="bi bi-circle-fill">&nbsp; Volver atrás</i></NavLink>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Post EditarPost { get; set; } = new Post();
    private string htmlContent; // Añade esta línea
    private RichTextEdit richTextEditRef;
    [Parameter] public int Id { get; set; }
    [Parameter] public string imagenPost { get; set; }
    [Parameter] public EventCallback<string> OnChange { get; set; }

    protected override async Task OnInitializedAsync()
    {
        EditarPost = await postServices.GetPost(Id);
        htmlContent = EditarPost.DescripcionHtml; // Asigna el HTML aquí
    }

    public string RemoveHtmlTags(string html)
    {
        return System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", String.Empty);
    }

    private async Task ManejadorOnEditarPost()
    {
        if (richTextEditRef != null)
        {
            // Obtiene la versión HTML de la descripción
            var descriptionHtml = await richTextEditRef.GetHtmlAsync();

            // Configura la versión HTML de la descripción para enviar a la API
            EditarPost.DescripcionHtml = descriptionHtml;

            // Procesa y configura la versión de texto sin formato de la descripción para enviar a la API
            // Elimina las etiquetas HTML y reemplaza los saltos de línea con un carácter especial
            EditarPost.Descripcion = RemoveHtmlTags(descriptionHtml).Replace("\n", "|n|").Replace("\r", "").Trim();



            // Obtiene una instancia de AuthStateProvider
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            // Guarda la imagen
            EditarPost.ImagenUrl = imagenPost;

            // Envía el post a la API
            await postServices.ActualizarPost(Id, EditarPost);

            await JsRuntime.ToastrSuccess("Enhorabuena! Acabas de editar uno de tus Post!");

            // Navegar a la lista de posts
            navigationManager.NavigateTo("/MisPost");
        }
        else
        {
            throw new Exception("Error al crear el post!");
        }
    }

    private async Task ManejadorOnSubidaArchivo(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        if (imageFile != null)
        {
            var resizedFile = await imageFile.RequestImageFileAsync("image/png", 1000, 700);
            using (var ms = resizedFile.OpenReadStream(resizedFile.Size))
            {
                var content = new MultipartFormDataContent
                {
                    Headers = { ContentDisposition = new ContentDispositionHeaderValue("form-data") }
                };
                content.Add(new StreamContent(ms, Convert.ToInt32(resizedFile.Size)), "image", imageFile.Name);
                imagenPost = await postServices.SubidaDeImagen(content);
                await OnChange.InvokeAsync(imagenPost);
            }
        }
    }
}
