@page "/registrarse"
@using ClienteBlogBlazorWASM.Modelos
@using ClienteBlazorWASM.Pages
@using Microsoft.AspNetCore.Components;
@using ClienteBlogBlazorWASM.Services.IServices
@* @inject IServicioAutenticacion servicioAutenticacion
@inject NavigationManager navigationManager *@

<EditForm Model="UsuarioParaRegistro" OnValidSubmit="RegistrarUsuario" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Registrarse</strong>
                        </h3>

                        @if (MostrarErroresRegistro)
                        {
                            <div>
                                @foreach (var error in Errores)
                                {
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }

                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <InputText @bind-Value="UsuarioParaRegistro.Nombre" class="form-control" placeholder="Nombre..." />
                            <ValidationMessage For="(()=>UsuarioParaRegistro.Nombre)" />

                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="UsuarioParaRegistro.Email" class="form-control" placeholder="Email..." />
                            <ValidationMessage For="(()=>UsuarioParaRegistro.Email)" />

                        </div>
                        <div class="py-2 input-group">
                            <InputText @bind-Value="UsuarioParaRegistro.NombreDeUsuario" class="form-control" placeholder="Nombre de Usuario..." />
                            <ValidationMessage For="(()=>UsuarioParaRegistro.NombreDeUsuario)" />

                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <InputText @bind-Value="UsuarioParaRegistro.Password" type="password" id="password" placeholder="Password..." class="form-control" />
                                <ValidationMessage For="(()=>UsuarioParaRegistro.Password)" />
                            </div>

                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            @if (EstaProcesando)
                            {
                                <button type="submit" class="btn btn-success btn-block disabled"><i class="fas fa-sign-in-alt"></i> Porfavor espere...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Registrarse</button>
                            }
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</EditForm>


@code{
    private UsuarioRegistro UsuarioParaRegistro = new UsuarioRegistro();

    public bool EstaProcesando { get; set; } = false;

    public bool MostrarErroresRegistro { get; set; } = false;

    public IEnumerable<string> Errores { get; set; }

    [Inject]
    public IServicioAutenticacion ServicioAutenticacion { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public async Task RegistrarUsuario()
    {
        MostrarErroresRegistro = false;

        EstaProcesando = true;

        var resultado = await ServicioAutenticacion.RegistrarUsuario(UsuarioParaRegistro);

        if (resultado.RegistroCorrecto)
        {

            EstaProcesando = false;
            NavigationManager.NavigateTo("/acceder");
        }
        else
        {
            EstaProcesando = false;
            Errores = resultado.Errores;
            MostrarErroresRegistro = true;
        }
    }
}